html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

ul {
  list-style-type: none;
}

li {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.m1 {
  color: white !important;
  width: 114px;
  border-bottom: 2px solid #F1CDB3;
}

@media screen and (max-width: 767px) {
  .m1 {
    border: none;
  }
}

.m2 {
  width: 58px;
}

.m3 {
  width: 106px;
}

.m4 {
  width: 60px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #CDCDCD;
}

a:link {
  color: #CDCDCD;
}

a:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #292929;
}

body .container {
  width: 1280px;
  background-image: url("../../assets/images/start-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: 80%;
}

body .container header {
  padding: 0 40px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

body .container header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container header .logo h3 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

body .container header .logo p {
  margin: 0;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  color: white;
  text-align: center;
  letter-spacing: 0.10em;
}

body .container header .burger {
  display: none;
  width: 30px;
  height: 22px;
  background-image: url("../../assets/icons/burger-gold.svg");
  background-repeat: no-repeat;
  z-index: 12;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container header .menu-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 443px;
}

body .container header .menu-full li {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

body .container header .menu-bg {
  position: fixed;
  top: 0;
  right: -330px;
  width: 330px;
  height: 100%;
  z-index: 9;
  background-color: #292929;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  body .container header .menu-bg {
    display: none;
  }
}

body .container header .bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 110%;
  height: 110%;
  background-color: #292929;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media screen and (min-width: 768px) {
  body .container header .bg {
    display: none;
  }
}

body .container .start {
  padding: 0 40px;
  min-height: 565px;
}

body .container .start .content {
  margin-top: 223px;
}

body .container .start .content h1 {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
  color: white;
  margin: 0;
}

body .container .start .content p {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  margin: 0;
  margin-top: 42px;
  max-width: 460px;
}

body .container .start .content button {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  margin-top: 42px;
  width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  color: #292929;
  border-radius: 100px;
  border: none;
  letter-spacing: 0.06em;
}

body .container .about {
  min-height: 588px;
  background-image: url("../../assets/images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: 59%;
}

body .container .about .content {
  padding-top: 94px;
  margin-right: 16.8vw;
  float: right;
  width: 430px;
}

body .container .about .content h2 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  margin-bottom: 25px;
  letter-spacing: 0.06em;
}

body .container .about .content p {
  margin: 0;
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  margin-bottom: 25px;
}

body .container .pets {
  background-color: #F6F6F6;
  min-height: 877px;
  padding: 0 40px;
  text-align: center;
}

body .container .pets .exit {
  background-image: url("../../assets/images/cross.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 99%;
  top: -10%;
}

body .container .pets .exit:hover {
  background-image: url("../../assets/icons/cross-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  body .container .pets .exit {
    left: 98.5%;
    top: -15%;
  }
}

@media screen and (max-width: 767px) {
  body .container .pets .exit {
    left: 90.5%;
  }
}

body .container .pets .bg3 {
  position: fixed;
  top: 0;
  right: 0;
  width: 110%;
  height: 110%;
  background-color: #292929;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .container .pets .pet-box {
  width: 900px;
  min-height: 500px;
  position: absolute;
  background-color: white;
  border-radius: 9px;
  margin-top: 188px;
  left: calc((100% - 900px)/2);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  body .container .pets .pet-box {
    margin-top: 263px;
    width: 630px;
    min-height: 350px;
    left: calc((100% - 630px)/2);
  }
}

@media screen and (max-width: 767px) {
  body .container .pets .pet-box {
    margin-top: 220px;
    width: 240px;
    min-height: 341px;
    left: calc((100% - 240px)/2);
  }
}

body .container .pets .pet-box .img {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  background-size: 100%;
  border-radius: 9px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
  body .container .pets .pet-box .img {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
  }
}

@media screen and (max-width: 767px) {
  body .container .pets .pet-box .img {
    display: none;
  }
}

body .container .pets .pet-box .text {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  padding: 50px 17px 0 90px;
}

@media screen and (max-width: 1279px) {
  body .container .pets .pet-box .text {
    padding: 10px 5px 0 30px;
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
  }
}

@media screen and (max-width: 767px) {
  body .container .pets .pet-box .text {
    padding: 0;
    margin-top: 10px;
  }
}

body .container .pets .pet-box .text h4 {
  margin: 0 0 10px 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: black;
  letter-spacing: 0.11rem;
  text-align: left;
}

@media screen and (max-width: 767px) {
  body .container .pets .pet-box .text h4 {
    text-align: center;
  }
}

body .container .pets .pet-box .text h5 {
  margin: 0 0 40px 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: black;
  letter-spacing: 0.08rem;
  text-align: left;
}

@media screen and (max-width: 1279px) {
  body .container .pets .pet-box .text h5 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  body .container .pets .pet-box .text h5 {
    text-align: center;
  }
}

body .container .pets .pet-box .text p {
  margin: 0 0 43px 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  color: black;
  letter-spacing: 0.06rem;
  text-align: left;
}

@media screen and (max-width: 1279px) {
  body .container .pets .pet-box .text p {
    font-size: 13px;
    line-height: 14.3px;
    letter-spacing: 0.05rem;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 767px) {
  body .container .pets .pet-box .text p {
    text-align: justify;
    padding: 0 10px;
    margin-bottom: 22px;
  }
}

body .container .pets .pet-box .text li {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 10px;
}

body .container .pets .pet-box .text li::marker {
  color: #F1CDB3;
}

@media screen and (max-width: 1279px) {
  body .container .pets .pet-box .text li {
    margin-bottom: 7px;
  }
}

body .container .pets h2 {
  margin: 0;
  padding-top: 80px;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  text-align: center;
  letter-spacing: 0.06em;
}

body .container .pets .slider-wrapper {
  min-height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .pets .slider-wrapper .btn {
  width: 52px;
  height: 52px;
}

body .container .pets .slider-wrapper .btn1 {
  background-image: url("../../assets/images/button_arrow.png");
  background-repeat: no-repeat;
}

body .container .pets .slider-wrapper .btn1:hover {
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../../assets/images/button_arrow_hover.png");
  background-repeat: no-repeat;
}

body .container .pets .slider-wrapper .btn2 {
  background-image: url("../../assets/images/button_arrow.png");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .container .pets .slider-wrapper .btn2:hover {
  cursor: pointer;
  background-image: url("../../assets/images/button_arrow_hover.png");
  background-repeat: no-repeat;
}

body .container .pets .slider-wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .pets .slider-wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .pets .slider-wrapper .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .pets .slider-wrapper .slider .itm {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  text-align: center;
  border-radius: 9px;
  margin: 60px 45px;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .pets .slider-wrapper .slider .itm:hover {
  -webkit-box-shadow: 0px 0px 15px -10px black;
          box-shadow: 0px 0px 15px -10px black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

body .container .pets .slider-wrapper .slider .itm1, body .container .pets .slider-wrapper .slider .itm2, body .container .pets .slider-wrapper .slider .itm3 {
  background-repeat: no-repeat;
}

body .container .pets .slider-wrapper .slider p {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  color: #545454;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

body .container .pets .slider-wrapper .slider button {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  color: #292929;
  width: 187px;
  height: 52px;
  background-color: #FAFAFA;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  letter-spacing: 0.06em;
}

body .container .pets .slider-wrapper .slider button:hover {
  background-color: #F1CDB3;
}

body .container .pets .pets-btn {
  width: 261px;
  height: 52px;
  background-color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  color: #292929;
  border: none;
  border-radius: 100px;
  margin-bottom: 100px;
  letter-spacing: 0.06em;
}

body .container .pets .menu-mob {
  display: none;
}

body .container .help {
  background-color: white;
  min-height: 611px;
  padding: 0px;
}

body .container .help h2 {
  margin: 0;
  padding-top: 80px;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 0.06em;
}

body .container .help .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .help .icons .itm {
  height: 113px;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  text-align: center;
  margin: 0 60px 55px;
  letter-spacing: 0.06em;
}

body .container .help .icons .itm p {
  margin-top: 30px;
}

body .container .help .icons .itm1 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn1.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm2 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn2.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm3 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn3.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm4 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn4.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm5 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn5.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm6 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn6.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm7 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn7.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm8 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn8.svg");
  background-repeat: no-repeat;
}

body .container .help .icons .itm9 {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../assets/icons/icn9.svg");
  background-repeat: no-repeat;
}

body .container .help .icons2 {
  padding: 0 84px;
}

body .container .donation {
  background-color: #F6F6F6;
  background-image: url("../../assets/images/donation-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: 98%;
  min-height: 462px;
}

body .container .donation .content {
  width: 380px;
  float: right;
  padding-top: 80px;
  padding-right: 182px;
}

body .container .donation .content h2 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  margin-bottom: 20px;
  letter-spacing: 0.06em;
}

body .container .donation .content .p1 {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  color: #545454;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

body .container .donation .content .card {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1CDB3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  margin-bottom: 20px;
}

body .container .donation .content .card .itm {
  width: 30px;
  height: 23px;
  background-image: url("../../assets/icons/credit-card.svg");
  background-repeat: no-repeat;
  margin: 0 15px;
}

body .container .donation .content .card p {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #292929;
  margin: 0;
  letter-spacing: 0.06em;
}

body .container .donation .content a {
  text-decoration: none;
}

body .container .donation .content a:visited {
  color: #292929;
}

body .container .donation .content a:link {
  color: #292929;
}

body .container .donation .content a:hover {
  opacity: 0.7;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .container .donation .content .p2 {
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  font-style: italic;
}

body .container .donation .puppy-donation {
  display: none;
}

@media screen and (max-width: 1279px) {
  body .container .donation .puppy-donation {
    width: 505px;
    height: 261px;
    background-image: url("../../assets/images/puppy-donation-tablet.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-position-y: 421px;
    padding-top: 421px;
  }
}

@media screen and (max-width: 767px) {
  body .container .donation .puppy-donation {
    background-image: url("../../assets/images/puppy-donation-mobile.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 135.2px;
    background-position-y: 365px;
    padding-top: 365px;
  }
}

body .container footer {
  padding: 56px 0 0 40px;
  background-image: url("../../assets/images/footer-bg.jpg");
  background-repeat: no-repeat;
  min-height: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .container footer .puppy {
  width: 300px;
  height: 310px;
  background-image: url("../../assets/images/puppy-tablet.png");
  background-repeat: no-repeat;
  display: none;
}

@media screen and (max-width: 1279px) {
  body .container footer .puppy {
    display: block;
    position: absolute;
    left: 30.4%;
    background-position-y: 328px;
    padding-top: 328px;
  }
}

@media screen and (max-width: 767px) {
  body .container footer .puppy {
    background-image: url("../../assets/images/puppy-mobile.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 269px;
    left: 9%;
    background-position-y: 511px;
    padding-top: 511px;
  }
}

body .container footer a {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  text-decoration: none;
}

body .container footer a:visited {
  color: #F1CDB3;
}

body .container footer a:link {
  color: #F1CDB3;
}

body .container footer a:hover {
  opacity: 0.7;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .container footer h2 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: white;
  letter-spacing: 0.06em;
  width: 279px;
}

body .container footer p {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
  margin: 0;
  letter-spacing: 0.06em;
}

body .container footer .content1 {
  margin-right: 160px;
}

body .container footer .content1 .str1 {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container footer .content1 .str2 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container footer .content1 .itm1 {
  width: 40px;
  height: 32px;
  background-image: url("../../assets/icons/ftr-icn-1.svg");
  background-repeat: no-repeat;
  margin-right: 20px;
}

body .container footer .content1 .itm2 {
  width: 40px;
  height: 32px;
  background-image: url("../../assets/icons/ftr-icn-2.svg");
  background-repeat: no-repeat;
  margin-right: 20px;
}

body .container footer .content2 .str1 {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container footer .content2 .str2 {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container footer .content2 .itm1 {
  width: 22px;
  height: 32px;
  background-image: url("../../assets/icons/ftr-icn-3.svg");
  background-repeat: no-repeat;
  margin-right: 20px;
}

body .container footer .content2 .itm2 {
  width: 22px;
  height: 32px;
  background-image: url("../../assets/icons/ftr-icn-3.svg");
  background-repeat: no-repeat;
  margin-right: 20px;
}

@media screen and (max-width: 1279px) {
  body .container {
    background-image: url("../../assets/images/start-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  body .container header {
    margin-top: 30px;
    padding: 0 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container header .logo h3 {
    line-height: 45px;
  }
  body .container header .logo p {
    line-height: 22px;
  }
  body .container .start {
    min-height: 1075px;
    padding: 0 154px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .start .content {
    margin-top: 60px;
  }
  body .container .start .content button {
    margin-left: 126px;
  }
  body .container .start .puppy-start {
    background-image: url("../../assets/images/puppy-start.png");
    background-repeat: no-repeat;
    display: none;
  }
}

@media screen and (max-width: 1279px) and (max-width: 1279px) {
  body .container .start .puppy-start {
    display: block;
    width: 569px;
    height: 593px;
    position: absolute;
    left: 22%;
    background-position-y: 483px;
    padding-top: 483px;
  }
}

@media screen and (max-width: 1279px) and (max-width: 767px) {
  body .container .start .puppy-start {
    background-image: url("../../assets/images/puppy-start-mobile.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 271.77px;
    left: 15.625%;
    background-position-y: 460px;
    padding-top: 460px;
  }
}

@media screen and (max-width: 1279px) {
  body .container .about {
    background-color: white;
    min-height: 1048px;
    background-image: url("../../assets/images/about-bg-tablet.jpg");
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .about .content {
    padding-top: 80px;
    margin: 0;
  }
  body .container .pets {
    min-height: 870px;
    padding: 0 30px;
  }
  body .container .pets .slider-wrapper .slider .itm1 {
    margin: 60px 20px 60px 0;
  }
  body .container .pets .slider-wrapper .slider .itm2 {
    margin: 60px 0 60px 20px;
  }
  body .container .pets .slider-wrapper .slider .itm3 {
    display: none;
  }
  body .container .help {
    min-height: 779px;
  }
  body .container .help .icons {
    padding: 0 65px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container .help .icons .itm {
    margin: 0 0px 55px;
    -ms-flex-preferred-size: 177px;
        flex-basis: 177px;
  }
  body .container .donation {
    background-image: none;
    min-height: 783px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .donation .content {
    padding-right: 0;
  }
  body .container footer {
    background-image: url("../../assets/images/footer-bg-tablet.jpg");
    background-repeat: no-repeat;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-size: 100%;
    min-height: 635px;
    padding: 0 71px 0px 64px;
  }
  body .container footer .content1 {
    margin: 30px 0;
  }
  body .container footer .content2 {
    margin: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  body .container {
    background-image: url("../../assets/images/footer-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  body .container header .menu-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    z-index: 10;
    padding: 0;
    position: fixed;
    right: -330px;
    top: 248px;
    width: 243px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .container header .menu-full li {
    font-family: Arial;
    font-weight: 400;
    font-size: 32px;
    line-height: 51.2px;
    color: #CDCDCD;
    width: 100%;
    -ms-flex-preferred-size: 93px;
        flex-basis: 93px;
  }
  body .container header .menu-full .m1 {
    background-image: url("../../assets/icons/border.svg");
    background-repeat: no-repeat;
    background-position-y: 50px;
  }
  body .container header .menu-full .m2 {
    padding: 0 60px;
  }
  body .container header .menu-full .m3 {
    padding: 0 9px;
  }
  body .container header .menu-full .m4 {
    padding: 0 58px;
  }
  body .container header .burger {
    display: block;
  }
  body .container .start {
    padding: 0 10px;
    min-height: 732px;
    background-size: 100%;
  }
  body .container .start .content {
    text-align: center;
  }
  body .container .start .content h1 {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
  }
  body .container .start .content button {
    margin: 42px 0;
  }
  body .container .about {
    min-height: 974px;
    background-image: url("../../assets/images/about-bg-mobile.jpg");
    background-repeat: no-repeat;
    padding: 0 25px;
  }
  body .container .about .content {
    max-width: 430px;
    padding-top: 42px;
    margin: 0;
    width: 100%;
  }
  body .container .about .content h2 {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
  }
  body .container .about .content p {
    text-align: justify;
    margin-bottom: 23px;
  }
  body .container .pets {
    min-height: 791px;
    padding: 0;
  }
  body .container .pets h2 {
    font-size: 25px;
    line-height: 32.5px;
    padding-top: 42px;
  }
  body .container .pets .slider-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .pets .slider-wrapper .left {
    display: none;
  }
  body .container .pets .slider-wrapper .right {
    display: none;
  }
  body .container .pets .slider-wrapper .slider .itm1 {
    margin: 42px 0 0 0;
  }
  body .container .pets .slider-wrapper .slider .itm2 {
    display: none;
  }
  body .container .pets .menu-mob {
    display: block;
    width: 184px;
    margin: 20px auto 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container .pets .menu-mob .btn {
    width: 52px;
    height: 52px;
  }
  body .container .pets .menu-mob .btn1 {
    background-image: url("../../assets/images/button_arrow.png");
    background-repeat: no-repeat;
  }
  body .container .pets .menu-mob .btn2 {
    background-image: url("../../assets/images/button_arrow.png");
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  body .container .pets .pets-btn {
    margin: 0;
  }
  body .container .help {
    min-height: 600px;
    padding: 0 15px;
  }
  body .container .help h2 {
    font-size: 25px;
    line-height: 32.5px;
    padding-top: 42px;
    margin-bottom: 42px;
  }
  body .container .help .icons {
    padding: 0;
  }
  body .container .help .icons .itm {
    -ms-flex-preferred-size: 130px;
        flex-basis: 130px;
    margin-bottom: 5px;
  }
  body .container .help .icons .itm:last-of-type {
    margin-bottom: 11px;
  }
  body .container .help .icons .itm p {
    font-size: 15px;
    line-height: 16.5px;
    margin: 20px 0 0px;
  }
  body .container .help .icons .itm1, body .container .help .icons .itm2, body .container .help .icons .itm3, body .container .help .icons .itm4, body .container .help .icons .itm5, body .container .help .icons .itm6, body .container .help .icons .itm7, body .container .help .icons .itm8, body .container .help .icons .itm9 {
    width: 50px;
    height: 50px;
    background-size: 100%;
  }
  body .container .donation {
    background-image: none;
    background-size: 100%;
    min-height: 542.2px;
    padding: 0 20px;
  }
  body .container .donation .content {
    padding: 0;
    width: 100%;
  }
  body .container .donation .content h2 {
    padding-top: 42px;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
  }
  body .container .donation .content .p1 {
    letter-spacing: 0;
    text-align: center;
    margin: 24px 0;
  }
  body .container .donation .content .p2 {
    margin-top: 20px;
    text-align: justify;
  }
  body .container .donation .content .card {
    width: 281px;
    margin: auto;
  }
  body .container .donation .content .card p {
    font-size: 15px;
    line-height: 16.5px;
  }
  body .container footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-image: url("../../assets/images/footer-bg-mobile.jpg");
    background-repeat: no-repeat;
    min-height: 752px;
    padding: 30px 0;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  body .container footer h2 {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    padding: 0 21px;
  }
  body .container footer .content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100%;
  }
  body .container footer .content1 .str1, body .container footer .content1 .str2 {
    padding: 0 35px;
    text-align: center;
  }
  body .container footer .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    width: 100%;
  }
  body .container footer .content2 .str1, body .container footer .content2 .str2 {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    padding-left: 19px;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */